.overview-container {
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}
.slogan {
    margin-left: 60%;
}

.overview-img {
    width: 50%;
}

.overview-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}