@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "ClashDisplay";
  src: url("../assets/fonts/ClashDisplay-Variable.woff2") format("woff2"),
    url("../assets/fonts/ClashDisplay-Variable.woff") format("woff"),
    url("../assets/fonts/ClashDisplay-Variable.ttf") format("truetype"),
    url("../assets/fonts/ClashDisplay-Variable.eot") format("eot");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

:root {
  --gradient: linear-gradient(270deg, #903aff 0%, #fe34b9 100%);
  --background-color: #150e28;
  --primary: #d434fe;
  --secondary: #903aff;
  --active-grad: linear-gradient(90deg, #903aff 3.08%, #ff26b9 93.85%);
}

html,
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  line-height: normal;
}

body {
  background-image: url("../assets/desktop/desktop-bg.png");
  max-width: 100vw;
  background-color: var(--background-color);
  color: white;
}

.link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
}

.logo p {
  font-family: ClashDisplay;
  font-style: normal;
  font-weight: 700;
}

.logo span {
  color: var(--primary);
}

.btn {
  background: var(--gradient);
}

.link.active {
  background: var(--active-grad);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.slogan p {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 700;
}

.overview-content-body p {
font-family: ClashDisplay;
font-weight: 700;
}

.overview-content-body p span {
  color: var(--secondary);
}
